<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteservlet</servlet-name>
        <servlet-class>deleteservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginch</servlet-name>
        <servlet-class>Loginch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myaccout</servlet-name>
        <servlet-class>myaccout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mybm</servlet-name>
        <servlet-class>mybm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>places</servlet-name>
        <servlet-class>places</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resorts</servlet-name>
        <servlet-class>resorts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testservlet</servlet-name>
        <servlet-class>testservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteservlet</servlet-name>
        <url-pattern>/deleteservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginch</servlet-name>
        <url-pattern>/Loginch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myaccout</servlet-name>
        <url-pattern>/myaccout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mybm</servlet-name>
        <url-pattern>/mybm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>places</servlet-name>
        <url-pattern>/places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resorts</servlet-name>
        <url-pattern>/resorts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testservlet</servlet-name>
        <url-pattern>/testservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
